PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sistem_luna
DB_USER=root
DB_PASS=

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

NODE_ENV=development

# Email / SMTP (untuk fitur kirim dokumen via email)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tipaun0605@gmail.com
SMTP_PASS=enmlptdzrwqkuwev
SMTP_FROM="CV. Catur Bhakti Mandiri <tipaun0605@gmail.com>"
